JWT_SECRET=

OPENROUTER_API_KEY=

GEOAPIFY_API_KEY=


WYA_GMAIL_ADDRESS=wya123@gmail.com


WYA_GMAIL_APP_PASS=dummypassword1234

WYA_APP_BASE_URL=https://d1yc69o122s878.cloudfront.net


HF_TOKEN= 

NODE_ENV=production

